.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  width: 450px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 2rem;
}

.item__content {
  display: flex;
  align-items: center;
}

.item__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addBtn {
  background-color: #818cf8;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.listWrapper {
  display: flex;
  justify-content: center;
}

.searchInput {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
}

.searchInput:focus {
  border: 2px solid #818cf8;
}
